@use '../_utils';

.lcd-route {
  &__station-container {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  &__stations {
    display: grid;
    grid-template-columns: 40px repeat(var(--rest-station-count), 1fr);
    align-items: start;
  }
}
