@use '../_utils';
@import '../_variables';

.lcd-route {
  &__station-container {
    padding: 128px 64px 0;
  }

  &__stations {
    display: grid;
    grid-template-columns: 40px repeat(var(--rest-station-count), 1fr);
    align-items: start;
  }
}
