<audio
  #audio
  [src]="playing"
  (canplaythrough)="audioLoaded($event)"
  (ended)="audioEnded()"
></audio>
<ng-container *ngTemplateOutlet="controls || defaultControls; context: { $implicit: context }"></ng-container>
<ng-template #defaultControls let-context>
  <button mat-stroked-button [disabled]="disabled" (click)="context.play()">Play</button>
  <button mat-stroked-button [disabled]="disabled" (click)="context.pause()">Pause</button>
  <button mat-stroked-button [disabled]="disabled" (click)="context.next()">Next</button>
</ng-template>

