$cls: md-monthly-data;

.#{$cls} {
  &__container {
    padding-top: 16px;
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 16px;

    ::ng-deep {
      .ant-card-actions > li > span {
        cursor: inherit;

        &:hover {
          color: inherit;
        }
      }

      .ant-card-actions .ant-statistic-content {
        font-size: 16px;
      }

      .ant-statistic-title:empty {
        margin-bottom: 0;
      }
    }
  }

  &__main {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    gap: 32px 16px;

    > nz-card ::ng-deep {
      flex: 1 1;

      .ant-card-body {
        display: flex;

        :first-child {
          flex: 1;
        }
      }
    }

    &-card__icon {
      align-self: center;
      margin-left: 32px;

      .anticon {
        font-size: 48px;
        color: #e6e6e6;
      }
    }

    &-card__icon--overlay {
      position: relative;

      > :last-child {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: #fff;
        font-size: 16px;
        z-index: 5;
      }
    }
  }

  &__new-lines {
    &__empty {
      align-self: center;
      font-size: 18px;
    }
  }

  &__popover-btn {
    font-size: 14px;
    color: inherit;

    &:hover {
      color: #1890ff;
    }
  }

  ::ng-deep &__news-popover {
    max-width: 250px;
  }

  &__item--with-chart {
    display: flex;

    md-statistic-item {
      flex-shrink: 0;
    }
  }

  &__simple-chart {
    flex: 1 1 200px;
    padding-left: 32px;
    height: 63px;
  }

  &__volume-card {
    &__container {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);

      > * {
        padding: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);

        &:nth-child(odd) {
          border-right: 1px solid rgba(0, 0, 0, 0.06);
        }

        &:nth-last-child(-n + 2) {
          border-bottom: none;
        }
      }
    }

    &__item {
      ::ng-deep .ant-statistic-title {
        display: flex;

        span {
          flex: 1 0;
        }
      }

      &__compare ::ng-deep {
        .ant-statistic-content-prefix {
          font-size: 16px;
        }

        .ant-statistic-content {
          color: #acacac;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .#{$cls} {
    &__container {
      grid-template-rows: unset;
      grid-template-columns: repeat(2, 1fr);

      ::ng-deep nz-card {
        display: flex;
        flex-direction: column;

        .ant-card-body {
          flex-grow: 1;
        }
      }
    }

    &__main-card ::ng-deep {
      grid-area: auto / 1 / auto / -1;
    }
  }
}
