@use '../../../_utils';

$cls: md-monthly-data;

.#{$cls} {
  &__container {
    padding-block-start: 16px;
    padding-block-end: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 16px;

    ::ng-deep {
      .ant-card-actions > li > span {
        cursor: inherit;

        &:hover {
          color: inherit;
        }
      }

      .ant-card-actions .ant-statistic-content {
        font-size: 16px;
      }

      .ant-statistic-title:empty {
        margin-block-end: 0;
      }
    }
  }

  &__main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    gap: 16px;

    > nz-card ::ng-deep {
      flex: 1 1;

      .ant-card-body {
        display: flex;

        :first-child {
          flex: 1;
        }
      }
    }

    &-card__icon {
      align-self: center;
      margin-inline-start: 32px;

      .anticon {
        font-size: 48px;
        color: #e6e6e6;
      }
    }
  }

  &__popover-btn {
    font-size: 14px;
    color: inherit;

    &:hover {
      color: #1890ff;
    }
  }

  ::ng-deep &__news-popover {
    max-width: 250px;
    line-height: 24px;
  }

  &__item--with-chart {
    display: flex;

    md-statistic-item {
      flex-shrink: 0;
    }
  }

  &__simple-chart {
    flex: 1 1 200px;
    padding-inline-start: 32px;
    height: 63px;
  }

  &__volume-card {
    &__container {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);

      > * {
        padding: 24px;
        border-block-end: 1px solid rgba(0, 0, 0, 0.06);

        &:nth-child(odd) {
          border-inline-end: 1px solid rgba(0, 0, 0, 0.06);
        }

        &:nth-last-child(-n + 2) {
          border-block-end: none;
        }
      }
    }

    &__item {
      ::ng-deep .ant-statistic-title {
        display: flex;

        span {
          flex: 1 0;
        }
      }

      &__compare ::ng-deep {
        .ant-statistic-content-prefix {
          font-size: 16px;
        }

        .ant-statistic-content {
          color: #acacac;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .#{$cls}__item--passenger-strong ::ng-deep .ant-statistic-content {
    white-space: nowrap;
  }
}

@media screen and (max-width: 1439px) {
  .#{$cls} {
    &__container {
      grid-template-rows: unset;
      grid-template-columns: repeat(2, 1fr);

      ::ng-deep nz-card {
        display: flex;
        flex-direction: column;

        .ant-card-body {
          flex-grow: 1;
        }
      }
    }

    &__main {
      grid-template-columns: repeat(2, 1fr);
    }

    &__main-card ::ng-deep {
      grid-area: auto / 1 / auto / -1;
    }
  }
}

@include utils.mobile {
  .#{$cls} {
    &__container,
    &__main {
      grid-template-columns: 1fr;
    }

    &__container {
      margin-block-end: 0;
      row-gap: 16px;
    }

    &__item--with-chart {
      flex-wrap: wrap;
    }

    &__simple-chart {
      flex-basis: 100%;
      padding-inline-start: 0;
      width: 100%;
    }

    &__volume-card {
      ::ng-deep .ant-card-head {
        padding-inline: 12px;
      }

      &__container > * {
        padding: 12px;
      }
    }
  }
}
