@if (data) {
  <div class="md-monthly-data__container">
    <div class="md-monthly-data__main">
      <nz-card
        nzBorderless
        [class.ant-card--inline-actions]="data.news.cities?.length || data.off?.cities"
        [nzActions]="[newCityTpl, offCityTpl] | withValue: [data.news.cities, data.off?.cities]"
      >
        <md-statistic-item
          nzTitle="城市"
          [value]="data.cityCount"
          nzSuffix="个"
        ></md-statistic-item>
        <div class="md-monthly-data__main-card__icon">
          <span nz-icon>
            <fa-icon [icon]="faLocationDot" />
          </span>
        </div>
      </nz-card>
      <ng-template #newCityTpl>
        <span class="ant-card__action-label">新增</span>
        <span
          nz-popover
          nzPopoverOverlayClassName="md-monthly-data__news-popover"
          [nzPopoverContent]="newCitiesDetail"
          nzPopoverPlacement="bottom"
        >{{data.news.cities?.length}}个</span>
      </ng-template>
      <ng-template #newCitiesDetail>
        @for (newCity of data.news.cities; track newCity.cityEn) {
          {{ newCity.ch }}@if (!$last) {<br />}
        }
      </ng-template>
      <ng-template #offCityTpl>
        <span class="ant-card__action-label">核减</span>
        <span
          nz-popover
          nzPopoverOverlayClassName="md-monthly-data__news-popover"
          [nzPopoverContent]="offCitiesDetail"
          nzPopoverPlacement="bottom"
        >{{data.off?.cities?.length}}个</span>
      </ng-template>
      <ng-template #offCitiesDetail>
        @for (offCity of data.off?.cities; track offCity.cityEn) {
          {{ offCity.ch }}@if (!$last) {<br />}
        }
      </ng-template>

      <nz-card
        nzBorderless
        class="ant-card--inline-actions"
        [nzActions]="[newLinesTpl, offLinesTpl] | withValue: [
          [data.news.lines.count > 0, data.news.segments.count > 0],
          [data.off?.lines?.count! > 0, data.off?.segments?.count! > 0]
        ]"
      >
        <md-statistic-item
          nzTitle="轨道交通线路"
          [value]="data.lines"
          nzSuffix="条"
        />
        <div class="md-monthly-data__main-card__icon">
          <span nz-icon nzType="dashboard:line"></span>
        </div>
      </nz-card>
      <ng-template #newLinesTpl>
        <span class="ant-card__action-label">新增</span>
        @if (data.news.lines.count > 0) {
          <span
            nz-popover
            nzPopoverOverlayClassName="md-monthly-data__news-popover"
            [nzPopoverContent]="newLinesDetail"
            nzPopoverPlacement="bottom"
          >{{data.news.lines.count}}条 </span>
        }

        @if (data.news.segments.count > 0) {
          <span
            nz-popover
            nzPopoverOverlayClassName="md-monthly-data__news-popover"
            [nzPopoverContent]="newSegmentsDetail"
            nzPopoverPlacement="bottom"
          >{{data.news.segments.count}}区段</span>
        }
      </ng-template>
      <ng-template #newLinesDetail>
        @for (newLine of data.news.lines.detail; track newLine.ch) {
          {{ newLine.ch }}@if (!$last) {<br />}
        }
      </ng-template>
      <ng-template #newSegmentsDetail>
        @for (newSegment of data.news.segments.detail; track newSegment.ch) {
          {{ newSegment.ch }}@if (!$last) {<br />}
        }
      </ng-template>
      <ng-template #offLinesTpl>
        <span class="ant-card__action-label">核减</span>
        @if (data.off?.lines?.count) {
          <span
            nz-popover
            nzPopoverOverlayClassName="md-monthly-data__news-popover"
            [nzPopoverContent]="offLinesDetail"
            nzPopoverPlacement="bottom"
          >{{data.off?.lines?.count}}条 </span>
        }

        @if (data.off?.segments?.count) {
          <span
            nz-popover
            nzPopoverOverlayClassName="md-monthly-data__news-popover"
            [nzPopoverContent]="offSegmentsDetail"
            nzPopoverPlacement="bottom"
          >{{data.off?.segments?.count}}区段</span>
        }
      </ng-template>
      <ng-template #offLinesDetail>
        @for (offLine of data.off?.lines?.detail; track offLine.ch) {
          {{ offLine.ch }}@if (!$last) {<br />}
        }
      </ng-template>
      <ng-template #offSegmentsDetail>
        @for (offSegment of data.off?.segments?.detail; track offSegment.ch) {
          {{ offSegment.ch }}@if (!$last) {<br />}
        }
      </ng-template>

      <nz-card
        nzBorderless
        class="ant-card--inline-actions"
        [nzActions]="[newOperationLengthTpl, offOperationLengthTpl] | withValue: [data.news.operationLength, data.off?.operationLength]"
      >
        <md-statistic-item
          nzTitle="运营里程"
          [value]="data.operationLength"
          nzSuffix="公里"
        />
        <div class="md-monthly-data__main-card__icon">
          <span nz-icon nzType="dashboard:operation-length"></span>
        </div>
      </nz-card>
      <ng-template #newOperationLengthTpl>
        <span class="ant-card__action-label">新增</span>
        <span>{{data.news.operationLength}}公里</span>
      </ng-template>
      <ng-template #offOperationLengthTpl>
        <span class="ant-card__action-label">核减</span>
        <span>{{data.off?.operationLength}}公里</span>
      </ng-template>

      <nz-card nzBorderless>
        <md-statistic-item
          nzTitle="实际开行列车"
          [value]="data.runs"
          unit="万"
          nzSuffix="万次"
        />
        <div class="md-monthly-data__main-card__icon">
          <span nz-icon nzType="dashboard:train"></span>
        </div>
      </nz-card>
    </div>

    <nz-card nzBorderless class="ant-card--inline-actions" [nzActions]="[passengerCapacityQoQ, passengerCapacityYoY]">
      <div class="md-monthly-data__item--with-chart">
        <md-statistic-item
          nzTitle="客运量"
          [value]="data.passengerCapacity.value"
          unit="亿"
        />
        <div
          echarts
          class="md-monthly-data__simple-chart"
          [options]="passengerCapacityOptions"
          (chartInit)="onChartInit($event)"
        ></div>
      </div>
    </nz-card>
    <ng-template #passengerCapacityQoQ>
      <span class="ant-card__action-label">环比</span>
      <nz-space>
        <md-statistic-item
          *nzSpaceItem
          [value]="data.passengerCapacity.compareLastMonth"
          unit="亿"
          autoPrefix
          autoColor
        />
        <md-statistic-item
          *nzSpaceItem
          [value]="data.passengerCapacity.compareLastMonthPercent"
          percent
          autoPrefix
          autoColor
        />
      </nz-space>
    </ng-template>
    <ng-template #passengerCapacityYoY>
      <span class="ant-card__action-label">同比</span>
      <nz-space>
        <md-statistic-item
          *nzSpaceItem
          [value]="data.passengerCapacity.compareLastYear"
          unit="亿"
          autoPrefix
          autoColor
        />
        <md-statistic-item
          *nzSpaceItem
          [value]="data.passengerCapacity.compareLastYearPercent"
          percent
          autoPrefix
          autoColor
        />
      </nz-space>
    </ng-template>

    <nz-card nzBorderless class="ant-card--inline-actions" [nzActions]="
      [inStationCapacityQoQ, inStationCapacityYoY] | withValue: [
        [data.inStationCapacityVM?.compareLastMonth, data.inStationCapacityVM?.compareLastMonthPercent],
        [data.inStationCapacityVM?.compareLastYear, data.inStationCapacityVM?.compareLastYearPercent]
      ]
    ">
      <div class="md-monthly-data__item--with-chart">
        <md-statistic-item
          nzTitle="进站量"
          [value]="data.inStationCapacity"
          unit="亿"
        />
        <div
          echarts
          class="md-monthly-data__simple-chart"
          [options]="inStationCapacityOptions"
          (chartInit)="onChartInit($event)"
        ></div>
      </div>
    </nz-card>
    <ng-template #inStationCapacityQoQ>
      <span class="ant-card__action-label">环比</span>
      <nz-space>
        @if (data.inStationCapacityVM.compareLastMonth) {
          <md-calculated *nzSpaceItem field="inStationCapacityVM.compareLastMonth">
            <md-statistic-item
              [value]="data.inStationCapacityVM.compareLastMonth"
              unit="亿"
              autoPrefix
              autoColor
            />
          </md-calculated>
        }
        @if (data.inStationCapacityVM.compareLastMonthPercent) {
          <md-calculated *nzSpaceItem field="inStationCapacityVM.compareLastMonthPercent">
            <md-statistic-item
              [value]="data.inStationCapacityVM.compareLastMonthPercent"
              percent
              autoPrefix
              autoColor
            />
          </md-calculated>
        }
      </nz-space>
    </ng-template>
    <ng-template #inStationCapacityYoY>
      <span class="ant-card__action-label">同比</span>
      <nz-space>
        @if (data.inStationCapacityVM.compareLastYear) {
          <md-calculated *nzSpaceItem field="inStationCapacityVM.compareLastYear">
            <md-statistic-item
              [value]="data.inStationCapacityVM.compareLastYear!"
              unit="亿"
              autoPrefix
              autoColor
            />
          </md-calculated>
        }
        @if (data.inStationCapacityVM.compareLastYearPercent) {
          <md-calculated *nzSpaceItem field="inStationCapacityVM.compareLastYearPercent">
            <md-statistic-item
              [value]="data.inStationCapacityVM.compareLastYearPercent!"
              percent
              autoPrefix
              autoColor
            />
          </md-calculated>
        }
      </nz-space>
    </ng-template>

    <nz-card nzBorderless class="ant-card--inline-actions" [nzActions]="
      [passengerStrongQoQ, passengerStrongYoY] | withValue: [
        [data.passengerStrongVM?.compareLastMonth, data.passengerStrongVM?.compareLastMonthPercent],
        [data.passengerStrongVM?.compareLastYear, data.passengerStrongVM?.compareLastYearPercent]
      ]
    ">
      <div class="md-monthly-data__item--with-chart">
        <md-calculated field="passengerStrongVM.value">
          <md-statistic-item
            nzTitle="平均客运强度"
            [value]="data.passengerStrongVM.value"
            valueFormat="1.0-3"
            nzSuffix="万人次每公里日"
          />
        </md-calculated>
        <div
          echarts
          class="md-monthly-data__simple-chart"
          [options]="passengerStrongOptions"
          (chartInit)="onChartInit($event)"
        ></div>
      </div>
    </nz-card>
    <ng-template #passengerStrongQoQ>
      <span class="ant-card__action-label">环比</span>
      <nz-space>
        @if (data.passengerStrongVM.compareLastMonth) {
          <md-calculated *nzSpaceItem field="passengerStrongVM.compareLastMonth">
            <md-statistic-item
              [value]="data.passengerStrongVM.compareLastMonth!"
              valueFormat="1.0-3"
              autoPrefix
              autoColor
            />
          </md-calculated>
        }
        @if (data.passengerStrongVM.compareLastMonthPercent) {
          <md-calculated *nzSpaceItem field="passengerStrongVM.compareLastMonthPercent">
            <md-statistic-item
              [value]="data.passengerStrongVM.compareLastMonthPercent!"
              percent
              autoPrefix
              autoColor
            />
          </md-calculated>
        }
      </nz-space>
    </ng-template>
    <ng-template #passengerStrongYoY>
      <span class="ant-card__action-label">同比</span>
      <nz-space>
        @if (data.passengerStrongVM.compareLastYear) {
          <md-calculated *nzSpaceItem field="passengerStrongVM.compareLastYear">
            <md-statistic-item
              [value]="data.passengerStrongVM.compareLastYear"
              valueFormat="1.0-3"
              autoPrefix
              autoColor
            />
          </md-calculated>
        }
        @if (data.passengerStrongVM.compareLastYearPercent) {
          <md-calculated *nzSpaceItem field="passengerStrongVM.compareLastYearPercent">
            <md-statistic-item
              [value]="data.passengerStrongVM.compareLastYearPercent"
              percent
              autoPrefix
              autoColor
            />
          </md-calculated>
        }
      </nz-space>
    </ng-template>

    <ng-template
      #volumeItem
      let-volumeName="volumeName"
      let-volumeSubtitle="volumeSubtitle"
      let-volume="volume"
      let-volumeCompare="volumeCompare"
      let-unit="unit"
    >
      <nz-card
        class="md-monthly-data__volume-card"
        [nzTitle]="volumeNameTpl"
        [nzBodyStyle]="{ padding: 0 }"
        nzBorderless
      >
        <div class="md-monthly-data__volume-card__container">
          <div class="md-monthly-data__volume-card__item">
            <md-statistic-item
              [nzTitle]="volumeLinesTitleTpl"
              [value]="volume.lines"
              nzSuffix="条"
            />
            <ng-template #volumeLinesTitleTpl>
              <span>线路数</span>@if (config?.showVolumeDiff && volumeCompare?.lines?.compareLastMonth) {
                <md-calculated force>
                  <md-statistic-item
                    class="md-monthly-data__volume-card__item__compare"
                    [value]="volumeCompare.lines.compareLastMonth"
                    prefixMode="plusminus"
                    autoPrefix
                  />
                </md-calculated>
              }
            </ng-template>
          </div>
          <div class="md-monthly-data__volume-card__item">
            <md-statistic-item
              [nzTitle]="volumeOperationLengthTitleTpl"
              [value]="volume.operationLength"
              nzSuffix="公里"
            />
            <ng-template #volumeOperationLengthTitleTpl>
              <span>运营里程</span>@if (config?.showVolumeDiff && volumeCompare?.operationLength?.compareLastMonth) {
                <md-calculated force>
                  <md-statistic-item
                    class="md-monthly-data__volume-card__item__compare"
                    [value]="volumeCompare.operationLength.compareLastMonth"
                    prefixMode="plusminus"
                    autoPrefix
                  />
                </md-calculated>
              }
            </ng-template>
          </div>
          <div class="md-monthly-data__volume-card__item">
            <md-statistic-item
              [nzTitle]="volumePassengerCapacityTitleTpl"
              [value]="volume.passengerCapacity"
              [unit]="unit"
            />
            <ng-template #volumePassengerCapacityTitleTpl>
              <span>客运量</span>@if (config?.showVolumeDiff && volumeCompare?.passengerCapacity?.compareLastMonth) {
                <md-calculated force>
                  <md-statistic-item
                    class="md-monthly-data__volume-card__item__compare"
                    [value]="volumeCompare.passengerCapacity.compareLastMonth"
                    [unit]="unit"
                    nzSuffix=""
                    prefixMode="plusminus"
                    autoPrefix
                  />
                </md-calculated>
              }
            </ng-template>
          </div>
          <div class="md-monthly-data__volume-card__item">
            <md-statistic-item
              [nzTitle]="volumeinStationCapacityTitleTpl"
              [value]="volume.inStationCapacity"
              [unit]="unit"
            />
            <ng-template #volumeinStationCapacityTitleTpl>
              <span>进站量</span>@if (config?.showVolumeDiff && volumeCompare?.inStationCapacity?.compareLastMonth) {
                <md-calculated force>
                  <md-statistic-item
                    class="md-monthly-data__volume-card__item__compare"
                    [value]="volumeCompare.inStationCapacity.compareLastMonth"
                    [unit]="unit"
                    nzSuffix=""
                    prefixMode="plusminus"
                    autoPrefix
                  />
                </md-calculated>
              }
            </ng-template>
          </div>
        </div>
      </nz-card>
      <ng-template #volumeNameTpl>
        {{volumeName}}@if (volumeSubtitle) {<span class="ant-card__subtitle">（{{volumeSubtitle}}）</span>}
      </ng-template>
    </ng-template>

    @if (data.metroVolume?.lines) {
      <ng-container *ngTemplateOutlet="volumeItem; context: {
        volumeName: '地铁、轻轨',
        volumeSubtitle: data.metroVolume?.cities + '个城市',
        volume: data.metroVolume,
        volumeCompare: data.metroVolumeCompare,
        unit: '亿'
      }"/>
    }
    @else if (data.largeVolume?.lines) {
      <ng-container *ngTemplateOutlet="volumeItem; context: {
        volumeName: '大运量',
        volumeSubtitle: '地铁、轻轨、市域快速轨道等',
        volume: data.largeVolume,
        volumeCompare: data.largeVolumeCompare,
        unit: '亿'
      }"/>
    }

    @if (data.monorailVolume?.lines) {
      <ng-container *ngTemplateOutlet="volumeItem; context: {
        volumeName: '单轨、磁浮、市域快速轨道交通',
        volumeSubtitle: data.monorailVolume?.cities + '个城市',
        volume: data.monorailVolume,
        volumeCompare: data.monorailVolumeCompare,
        unit: '万'
      }"/>
    }
    @else if (data.mediumVolume?.lines) {
      <ng-container *ngTemplateOutlet="volumeItem; context: {
        volumeName: '中运量',
        volumeSubtitle: '单轨、磁浮等',
        volume: data.mediumVolume,
        volumeCompare: data.mediumVolumeCompare,
        unit: '万'
      }"/>
    }

    @if (data.tramVolume?.lines) {
      <ng-container *ngTemplateOutlet="volumeItem; context: {
        volumeName: '有轨电车、自动导向轨道',
        volumeSubtitle: data.tramVolume?.cities + '个城市',
        volume: data.tramVolume,
        volumeCompare: data.tramVolumeCompare,
        unit: '万'
      }"/>
    }
    @else if (data.smallVolume?.lines) {
      <ng-container *ngTemplateOutlet="volumeItem; context: {
        volumeName: '低运量',
        volumeSubtitle: '有轨电车、自动导向轨道等',
        volume: data.smallVolume,
        volumeCompare: data.smallVolumeCompare,
        unit: '万'
      }"/>
    }

  </div>
}
