:host {
  position: relative;
  display: block;
  height: 100vh;
}

nz-spin,
::ng-deep .ant-spin-container {
  height: 100%;
}

.mat-sidenav-container {
  height: 100%;
}

.sidenav-toggle {
  position: absolute;
  right: 10px;
  top: 20px;
}

.title {
  text-align: center;

  h1 {
    margin: 24px 0 16px;
  }

  .subtitle {
    margin-right: 100px;
    text-align: right;
  }

  .read-origin {
    font-size: 12px;
    text-decoration: none;

    &:active,
    &:visited {
      color: #cccccc;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

[echarts] {
  height: 600px;
}

.summaries {
  font-size: 12px;
  line-height: 1.33334;
  color: #333333;

  ul {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 100px;
    list-style: none;
  }
}
