:host {
  position: relative;
  display: block;
  height: 100vh;

  --horizontal-space: 48px;
}

nz-spin,
::ng-deep .ant-spin-container {
  height: 100%;
}

.mat-sidenav-container {
  height: 100%;
}

mat-sidenav mat-card {
  min-height: 100vh;

  mat-card-content {
    flex-grow: 1;
  }

  .mdc-button + .mdc-button {
    margin-left: 8px;
  }
}

.sidenav-toggle {
  position: fixed;
  right: 20px;
  top: 20px;
}

.title {
  text-align: center;

  h1 {
    margin: 24px 0 16px;
  }

  .subtitle {
    margin-right: var(--horizontal-space);
    text-align: right;
  }

  .read-origin {
    font-size: 12px;
    text-decoration: none;

    &:active,
    &:visited {
      color: #cccccc;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  padding-inline: var(--horizontal-space);
}

::ng-deep [echarts] {
  height: 600px;
}

.summaries {
  font-size: 12px;
  line-height: 1.33334;
  color: #333333;

  ol {
    margin-bottom: 0;
    padding-left: var(--horizontal-space);
    list-style: none;
  }
}

.loading-indicator {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 128px;
    height: 128px;
  }
}
