<nz-spin nzDelay="200" [nzSpinning]="loading" [nzIndicator]="loadingIndicator">
@if (list) {
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" position="end" [(opened)]="opened">
      <mat-card>
        <mat-card-header>
          <mat-card-title>设置</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>数据范围</mat-label>
            <mat-select [value]="selectedId" (valueChange)="onRangeChange($event)">
              @for (id of ids; track id) {
                <mat-option [value]="id">
                  {{id}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div>
            <mat-slide-toggle
              [checked]="config.showVolumeDiff"
              (change)="onShowVolumeDiffChange($event)"
            >展示运量对比</mat-slide-toggle>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <a mat-stroked-button [routerLink]="['/']">LCD</a>
          <button mat-stroked-button (click)="showChangelog()">Changelog</button>
        </mat-card-actions>
      </mat-card>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sidenav-toggle" (click)="sidenav.toggle()">
        <button mat-mini-fab color="#cccccc">
          <fa-icon [icon]="faSliders" />
        </button>
      </div>
      @if (data) {
        <div class="title">
          <h1>{{pageTitle}}</h1>
          <div class="subtitle">
            @if (data.originLink) {
              <a
                [href]="data.originLink"
                target="_blank"
                referrerpolicy="no-referrer"
                class="read-origin"
              >阅读原文</a>
            }
          </div>
        </div>
        <main>
          <md-monthly-data [data]="data" [config]="config" />
          <nz-card [nzTitle]="monthCitiesCardTitle" [nzExtra]="monthCitiesCardExtra" nzBorderless>
            <md-chart-month-cities-bar #monthCitiesChart [cities]="data.cities" />
            @if (data.summaries) {
              <section class="summaries">
                <ol>
                  @for (summary of data.summaries; track summary) {
                    <li>{{summary}}</li>
                  }
                </ol>
              </section>
            }
          </nz-card>
          <ng-template #monthCitiesCardTitle>
            <span>城市数据</span><span class="md-monthly-data__volume-card__subtitle">（点击城市数据可查看趋势）</span>
          </ng-template>
          <ng-template #monthCitiesCardExtra>
            @if (!monthCitiesChart.drilldowned) {
              <button nz-button (click)="monthCitiesChart.toggleDataZoom()">{{monthCitiesChart.fullDataRange ? '部分' : '全部'}}城市</button>
            }
          </ng-template>
        </main>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
}
</nz-spin>
<ng-template #loadingIndicator>
  <div class="loading-indicator">
    <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1">
      <path d="m64,64c0,-17.7 -14.3,-32 -32,-32s-32,14.3 -32,32l0,336c0,44.2 35.8,80 80,80l400,0c17.7,0 32,-14.3 32,-32s-14.3,-32 -32,-32l-400,0c-8.8,0 -16,-7.2 -16,-16l0,-336z"/>
      <path stroke="#000000" stroke-width="48" fill="none" d="m425.3,150.3l-105.3,105.4l-78.93846,-77.01538l-135.76154,131.61538"/>
      <path id="line" stroke="#ffffff" stroke-width="50" fill="none" d="m425.3,150.3l-105.3,105.4l-78.93846,-77.01538l-135.76154,131.61538">
        <animate attributeName="stroke-dasharray" values="500 0;1000 500" dur="2s" repeatCount="indefinite"/>
        <animate attributeName="stroke-dashoffset" values="0;1000" dur="2s" repeatCount="indefinite"/>
      </path>
    </svg>
  </div>
</ng-template>
