@use '../_utils';

:host {
  position: relative;
  display: block;
  min-height: 100vh;
  background-color: #f5f5f5;

  --horizontal-space: 48px;
}

nz-spin.ant-spin-nested-loading {
  min-height: inherit;
}

nz-spin,
::ng-deep .ant-spin-container {
  height: 100%;
}

.title {
  text-align: center;

  h1 {
    margin-block-end: 16px;
    padding-block-start: 24px;
  }

  .read-origin {
    font-size: 12px;
    text-decoration: none;

    &:active,
    &:visited {
      color: #cccccc;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  padding-inline: var(--horizontal-space);
  padding-block-end: 32px;

  ::ng-deep .md-monthly-data__container {
    margin-block-end: 16px;
  }
}

.ant-card__subtitle {
  &, ::ng-deep & {
    color: #cccccc;
    font-size: 12px;
  }
}

::ng-deep [echarts] {
  height: 600px;
}

.summaries {
  margin-block-start: 16px;
  font-size: 12px;
  line-height: 1.66667;
  color: #666666;

  ol {
    margin-bottom: 0;
    padding-inline-start: var(--horizontal-space);
    list-style: none;
  }
}

.loading-indicator {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 128px;
    height: 128px;
  }
}

@include utils.mobile {
  :host {
    --horizontal-space: 16px;
  }

  ::ng-deep {
    .ant-card-head-title {
      padding-block: 12px;
    }

    .ant-card-body {
      padding: 16px;
    }

    nz-card.ant-card--inline-actions .ant-card-actions {
      margin-inline: 16px;
    }
  }

  .title h1 {
    margin-block-end: 0;
    padding-inline: calc(var(--horizontal-space) + 32px);
  }

  main ::ng-deep .md-monthly-data__container {
    margin-block-end: 0;
  }
}
