<div class="lcd-operation-panel__header">
  <div class="lcd-operation-panel__footer">
    Powered by <a href="https://github.com/RVC-Boss/GPT-SoVITS" target="_blank" referrerpolicy="no-referrer">GPT-SoVITS</a>, <a href="https://angular.io" target="_blank" referrerpolicy="no-referrer">Angular</a>, <a href="https://fontawesome.com" target="_blank" referrerpolicy="no-referrer">FontAwesome</a>
  </div>
  <div class="lcd-operation-panel__toggle" (click)="togglePanel()">
    <fa-icon [icon]="collapseIcon" />
  </div>
</div>

<div class="lcd-operation-panel__category">
  <div class="lcd-operation-panel__category__title">LCD Control</div>
  <span class="lcd-operation-panel__operation-item">
    <button [disabled]="config.editing" (click)="container.moveNext()">Next</button>
  </span>
  <span class="lcd-operation-panel__operation-item">
    <label><input
      type="checkbox"
      [checked]="config.nextOnAudioEnded"
      (change)="updateBooleanConfig('nextOnAudioEnded', $event)"
    />Move Next When Audio Ended</label>
  </span>
  <span class="lcd-operation-panel__operation-item">
    <label>Move Gap Time(ms): </label><input
      type="number"
      min="0"
      step="100"
      style="width: 80px;"
      [value]="config.nextGap"
      (change)="updateConfig('nextGap', $event)"
    />
  </span>
  <span class="lcd-operation-panel__operation-item">
    <label><input
      type="checkbox"
      [checked]="config.editing"
      (change)="updateBooleanConfig('editing', $event)"
    />Edit Station Mode (⚠Will Lose Current Running Status)</label>
  </span>
</div>
<div class="lcd-operation-panel__category">
  <div class="lcd-operation-panel__category__title">Voice Control</div>
  <div class="lcd-operation-panel__operation-item">
    <lcd-player
      [playlist]="(container.playlist$ | async) || []"
      [disabled]="config.editing"
      (ended)="container.onPlayerEnded()"
    />
  </div>
</div>
