<div class="lcd-operation-panel__header">
  <div class="lcd-operation-panel__footer">
    作者：【bilibili】<a href="https://space.bilibili.com/4946860" target="_blank" referrerpolicy="no-referrer" style="text-decoration: none;">轱辘是神棍</a>&nbsp;&nbsp;Powered by <a href="https://github.com/RVC-Boss/GPT-SoVITS" target="_blank" referrerpolicy="no-referrer">GPT-SoVITS</a>, <a href="https://angular.io" target="_blank" referrerpolicy="no-referrer">Angular</a>, <a href="https://fontawesome.com" target="_blank" referrerpolicy="no-referrer">FontAwesome</a>&nbsp;&nbsp;请勿转载
  </div>
  <div class="lcd-operation-panel__toggle" (click)="togglePanel()">
    <fa-icon [icon]="collapseIcon" />
  </div>
</div>

<div class="lcd-operation-panel__content">
  <div class="lcd-operation-panel__category">
    <div class="lcd-operation-panel__category__title">LCD Control</div>
    <span class="lcd-operation-panel__operation-item">
      <button mat-stroked-button [disabled]="config.editing" (click)="moveNext()">Next</button>
    </span>
    <br />
    <span class="lcd-operation-panel__operation-item">
      <mat-slide-toggle
        [checked]="config.nextOnAudioEnded"
        (change)="updateBooleanConfig('nextOnAudioEnded', $event)"
      >Move Next When Audio Ended</mat-slide-toggle>
    </span>
    <span class="lcd-operation-panel__operation-item">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Move Gap Time(ms):</mat-label>
        <input
          matInput
          type="number"
          min="0"
          step="100"
          style="width: 80px;"
          [value]="config.nextGap"
          (change)="updateConfig('nextGap', $event)"
        />
      </mat-form-field>
    </span>
    <br />
    <span class="lcd-operation-panel__operation-item">
      <mat-slide-toggle
        type="checkbox"
        [checked]="config.editing"
        (change)="updateBooleanConfig('editing', $event)"
      >Edit Station Mode (⚠Will Lose Current Running Status)</mat-slide-toggle>
    </span>
  </div>
  <div class="lcd-operation-panel__category">
    <div class="lcd-operation-panel__category__title">Voice Control</div>
    <div class="lcd-operation-panel__operation-item">
      <lcd-player
        [playlist]="(playlist$ | async) || []"
        [disabled]="config.editing"
        (ended)="onPlayerEnded()"
      />
    </div>
  </div>
</div>
